.rooms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}
.body-container .body-heading{
    font-weight: 800;
    font-size: 1.8rem;
    width: 700px;
    text-align: center;
    color: rgb(54, 54, 54);
}
.body-container .body-description{
    list-style: none;
}
.body-container .body-description li{   
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.body-container .body-description li span{
    margin-left: 10px;
}
.rooms .link:hover{
    transform: scale(1.1);
}
.point{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.link{
    list-style: none;
    margin: 0px 20px;
    background-color: #5a4bda;
    color: white;
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;
    padding: 13px 20px;
    border-radius: 6px;
}
.body-desc-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 40px 0px;
}
.body-desc-img .body-img img{
    height: 300px;
}
.body-img{
    margin-right: 40px;
}